<footer id="footer_wrapper" role="navigation">
    <span class="footer_copyright">
        © 2019 LOOKAO.COM
    </span>
    <span class="footer_menu">
        <a class="footer_link" href="#">Privacy</a>
        <a class="footer_link" href="#">About</a>
        <a class="footer_link" href="#">Support</a>
        <a class="footer_link" href="#">Telegram</a>
        <a class="footer_link" href="/preferences">{{ _('preferences') }}</a>
    </span>
    <span class="footer_aside">
        Powered by <a class="footer_link" href="https://github.com/lookao/searx">Lookao</a>. Based on <a class="footer_link" href="https://github.com/asciimoo/searx">Searx</a>.
    </span>
</footer>
