<footer id="footer_wrapper" role="navigation">
    <span class="footer_copyright">
        © 2019 LOOKAO.COM
    </span>
    <span class="footer_menu">
        <a class="footer_link" href="#">{{ _('隐私') }}</a>
        <a class="footer_link" href="#">{{ _('关于') }}</a>
        <a class="footer_link" href="#">{{ _('支持') }}</a>
        <a class="footer_link" href="/preferences">{{ _('设置') }}</a>
    </span>
    <span class="footer_aside">
        Powered by <a class="footer_link" href="https://github.com/lookao/searx">Lookao</a>. Based on <a class="footer_link" href="https://github.com/asciimoo/searx">Searx</a>.
    </span>
</footer>
