<footer id="footer_wrapper" role="navigation">
    <span class="footer_copyright">
        © 2019 Lookao
    </span>
    <span class="footer_menu">
        <a class="footer_link" href="{{ url_for('privacy') }}">{{ _('隐私') }}</a>
        <a class="footer_link" href="{{ url_for('about') }}">{{ _('关于') }}</a>
        <a class="footer_link" href="{{ url_for('mission') }}">{{ _('愿景') }}</a>
        <a class="footer_link" href="{{ url_for('preferences') }}">{{ _('设置') }}</a>
    </span>
    <span class="footer_aside">
        <span class="footer_icp">闽ICP备15021582号</span>
    </span>
</footer>
