<div class="header_aside">
    <span class="header_aside_slogan">
        {{ _('header_slogan') }}
        <svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10843"><path d="M512 647.540364L235.008 372.363636 186.181818 420.957091 512 744.727273l325.818182-323.770182L788.992 372.363636z" p-id="10844"></path></svg>
        <div class="header_dropdown_modal">
            <nav class="header_dropdown_showcase">
                <a class="header_showcase_link" href="{{ url_for('privacy') }}">
                    <div class="header_showcase_icon anonymous"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('我们尊重你的隐私') }}</h1>
                        <p>{{ _('只要不收集，便不会披露。') }}</p>
                    </div>
                </a>
                <a class="header_showcase_link" href="{{ url_for('mission') }}">
                    <div class="header_showcase_icon simple"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('用户体验高于一切') }}</h1>
                        <p>{{ _('尽可能的简洁，保持冷静和克制。') }}</p>
                    </div>
                </a>
                <a class="header_showcase_link" href="{{ url_for('index') }}">
                    <div class="header_showcase_icon rocket"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('来试试搜索直达吧') }}</h1>
                        <p>{{ _('搜索框输入 # 可直达站内搜索。') }}</p>
                    </div>
                </a>
                <a class="header_showcase_link" href="{{ url_for('about') }}">
                    <div class="header_showcase_icon like"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('分享给你的朋友们') }}</h1>
                        <p>{{ _('非常感谢您的支持与帮助！') }}</p>
                    </div>
                </a>
            </nav>
        </div>
    </span>
    <a class="header_aside_link" href="{{ url_for('preferences') }}">{{ _('设置') }}</a>
</div>
