<div class="header_aside">
    <span class="header_aside_slogan">
        {{ _('header_slogan') }}
        <svg class="icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10843"><path d="M512 647.540364L235.008 372.363636 186.181818 420.957091 512 744.727273l325.818182-323.770182L788.992 372.363636z" p-id="10844"></path></svg>
        <div class="header_dropdown_modal">
            <nav class="header_dropdown_showcase">
                <a class="header_showcase_link" href="{{ url_for('privacy') }}">
                    <div class="header_showcase_icon anonymous"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('སྒེར་གྱི་གསང་རྒྱ་ལ་བརྩི་སྲུང་ནན་མོ་ཡོད།') }}</h1>
                        <p>{{ _('སྒེར་གྱི་འཚོལ་བཤེར་བྱ་སྤྱོད་དེ་ང་ཚོས་འཚོལ་བསྡུ་མི་བྱ།') }}</p>
                    </div>
                </a>
                <a class="header_showcase_link" href="{{ url_for('mission') }}">
                    <div class="header_showcase_icon simple"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('ཡོད་ཚད་ལས་ཕྱོད་ལ་དམིགས་ཡོད།') }}</h1>
                        <p>{{ _('ང་ཚོ་ནི་བོད་ཡིག་གི་ལས་ཕྱོད་མེད་པའི་དྲ་རྒྱ་དང་མི་འདྲ།') }}</p>
                    </div>
                </a>
                <a class="header_showcase_link" href="{{ url_for('index') }}">
                    <div class="header_showcase_icon rocket"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('འཚོལ་བཤེར་ནང་དོན་ཕུན་སུམ་ཚོགས་པ།') }}</h1>
                        <p>{{ _('ང་ཚོས་འཛམ་བུ་གླིང་གི་བོད་ཡིག་གི་དྲ་གནས་ཡོངས་ལ་དྲ་སྦྲེལ་བྱེད་ཡོད།') }}</p>
                    </div>
                </a>
                <a class="header_showcase_link" href="{{ url_for('about') }}">
                    <div class="header_showcase_icon like"></div>
                    <div class="header_showcase_text">
                        <h1 class="title">{{ _('རིག་ནུས་དུས་རབས་ལ་གདོང་གཏོད་པ།') }}</h1>
                        <p>{{ _('ནམ་ཡིན་ཡང་སྤོབས་པ་ཆེན་མོས་མདུན་སྐྱོད་བྱ་རྒྱུ།') }}</p>
                    </div>
                </a>
            </nav>
        </div>
    </span>
    <a class="header_aside_link" href="{{ url_for('preferences') }}">{{ _('སྒྲིག་བཀོད།') }}</a>
</div>
