{% extends "lookao/base.html" %}
{% block title %}{{ _('愿景') }} - {% endblock %}
{% block footer %}{% include 'lookao/footer.html' %}{% endblock %}

{% block content %}
{% include 'lookao/header.html' %}

<article id="content_wrapper" class="wide_page">
    <h2 class="legend_title">{{ _('རེ་འདུན།') }}</h2>
    <div class="page_content">
        <p>གངས་རྒྱན་འཚོལ་བཤེར་གྱི་རེ་འདུན་ནི་གཤམ་ལྟར།</p>
        <p>གཅིག དོན་དང་ལྡན་པའི་བོད་ཡིག་གི་འཚོལ་བཤེར་དྲ་ཚིགས་བཟོ་རྒྱུ།</p>
        <p>གཉིས། ཆ་འཕྲིན་གསར་བ་བསྣན་ནས་དུས་ནམ་ཡིན་ཡང་གསོན་ཤུགས་རྒྱས་རྒྱ། </p>
        <p>གསུམ། བོད་རིགས་དྲ་མང་ལ་སྟབས་བདེ་བཟོ་རྒྱུ།</p>
    </div>
</article>
{% endblock %}
