{% extends "lookao/base.html" %}
{% block footer %}{% include 'lookao/footer.html' %}{% endblock %}

{% block content %}
{% include 'lookao/header.html' %}

<article id="content_wrapper">
    <h2 class="legend_title">{{ _('སྒྲིག་བཀོད།') }}</h2>
    <form method="post" action="{{ url_for('preferences') }}">
    <fieldset>
        <label class="preferences_select_label">
            {{ _('སྒྲོམ་གཞིའི་རྣམ་པ།') }}
            <span class="sub_label">
                {{ _('རང་གི་བློར་འབབ་པའི་རྣམ་པར་བསྒྱུར་ཆོག') }}
            </span>
            <select class="preferences_select_element" name='style'>
                <option value="moon" >{{ _('སྐྱ་བོ།') }}</option>
                <option value="coal" {% if preferences.get_value('style') == 'coal' %}selected="selected"{% endif %}>{{ _('སྨག་ནག') }}</option>
                <option value="peach" {% if preferences.get_value('style') == 'peach' %}selected="selected"{% endif %}>{{ _('ཟངས་དཀར།') }}</option>
            </select>
        </label>
        <label class="preferences_select_label">
            {{ _('འཆར་རྒྱུའི་སྐད་རིགས།') }}
            <span class="sub_label">
                {{ _('འཆར་ངོས་ཀྱི་སྐད་རིགས་བསྒྱུར་ཆོག') }}
            </span>
            <select class="preferences_select_element" name='locale'>
                {%- for locale_id,locale_name in locales.items() | sort -%}
                <option value="{{ locale_id }}" {% if locale_id == current_locale %}selected="selected"{% endif %}>{{ locale_name }}</option>
                {%- endfor -%}
            </select>
        </label>
        <label class="preferences_select_label">
            {{ _('འཚོལ་བཤེར་སྐད་རིགས།') }}
            <span class="sub_label">
                {{ _('འཚོལ་བཤེར་གྱི་སྐད་རིགས་བསྒྱུར་ཆོག') }}
            </span>
            <select class="preferences_select_element" name='language'>
                <option value="all" {% if current_language == 'all' %}selected="selected"{% endif %}>{{ _('所有语言') }}</option>
                {%- for lang_id,lang_name,country_name,english_name in language_codes | sort(attribute=1) -%}
                <option value="{{ lang_id }}" {% if lang_id == current_language %}selected="selected"{% endif %}>{{ lang_name }}</option>
                {%- endfor -%}
            </select>
        </label>
        <label class="preferences_select_label">
            {{ _('དྲ་ངོས་གསར་བ།') }}
            <span class="sub_label">
                {{ _('དྲ་ངོས་གསར་བ་བཏོན་ནས་འཚོལ་འབྲས་འཆར་པར་བྱ།') }}
            </span>
            <select class="preferences_select_element" name='results_on_new_tab'>
                <option value="1" {% if results_on_new_tab %}selected="selected"{% endif %}>{{ _('ཁ་ཕྱེས།') }}</option>
                <option value="0" {% if not results_on_new_tab %}selected="selected"{% endif %}>{{ _('ཁ་རྒྱོབ།')}}</option>
            </select>
        </label>
        <label class="preferences_select_label">
            {{ _('ཚོང་ལས་བཀྲམ་སྤེལ་།') }}
            <span class="sub_label">
                {{ _('འདི་ཁ་ཕྱེས་ན་ཚོང་བརྡ་བཀྲམ་སྤེལ་འཆར་ངེས།') }}
            </span>
            <select class="preferences_select_element" name='ads_on'>
                <option value="1" {% if ads_on %}selected="selected"{% endif %}>{{ _('ཁ་ཕྱེས།') }}</option>
                <option value="0" {% if not ads_on %}selected="selected"{% endif %}>{{ _('ཁ་རྒྱོབ།')}}</option>
            </select>
        </label>
        <label class="preferences_select_label">
            {{ _('དྲ་འདྲེན་ཐབས་ལམ།') }}
            <span class="sub_label">
                {{ _('དྲ་འདྲེན་བྱེད་ཐབས་བསྒྱུར་བཅོས།，GET ནི་ཅུང་ཟད་མགྱོགས།，POST ནི་དེ་བས་བདེ་འཇགས་ཡིན།') }}
            </span>
            <select class="preferences_select_element" name='method'>
                <option value="POST" {% if method == 'POST' %}selected="selected"{% endif %}>POST</option>
                <option value="GET" {% if method == 'GET' %}selected="selected"{% endif %}>GET</option>
            </select>
        </label>
    </fieldset>
    <div class="preferences_action">
        <input class="button_brand" type="submit" value="{{ _('保存') }}">
        <a class="preferences_reset" href="{{ url_for('clear_cookies') }}">{{ _('སྒྲིག་བཀོད་ཡོད་ཚད་དོར།') }}</a>
    </div>
    </form>
</article>
{% endblock %}
