{% extends "lookao/base.html" %}
{% block title %}{{ _('隐私') }} - {% endblock %}
{% block footer %}{% include 'lookao/footer.html' %}{% endblock %}

{% block content %}
{% include 'lookao/header.html' %}

<article id="content_wrapper" class="wide_page">
    <h2 class="legend_title">{{ _('隐私') }}</h2>
    <div class="page_content">
        <p>我们尊重你的隐私，你的隐私数据不会被随意收集和披露。</p>
        <ul class="list_disc">
            <li>你应该明白我们正在使用第三方的主机商、服务商提供必要的硬件、软件、网络、存储、API 接口来运行服务。</li>
            <li>我们不会收集用户的行为信息，也不会对搜索结果内容、排序进行人为干预。</li>
            <li>我们不会预审内容，但保留拒绝、删除任何我们认为不适内容的权利（但无义务这么做）。</li>
            <li>我们通过 Cookie 技术实现保存设置等功能，但你完全可以彻底禁用 Cookie 和 JavaScript，这不会影响基础功能的使用。</li>
            <li>我们保留在进行通知（或不通知）的情况下进行条款的增减与修改的权利。</li>
        </ul>
    </div>
</article>
{% endblock %}
