{% extends "lookao/base.html" %}
{% block title %}{{ _('隐私') }} - {% endblock %}
{% block footer %}{% include 'lookao/footer.html' %}{% endblock %}

{% block content %}
{% include 'lookao/header.html' %}

<article id="content_wrapper" class="wide_page">
    <h2 class="legend_title">{{ _('སྒེར་གསང་།') }}</h2>
    <div class="page_content">
        <p>ཁྱོད་ཀྱི་དྲ་ལམ་ཡིག་ཆ་དང་བྱ་སྤྱོད་སོགས་ང་ཚོས་འཚོལ་བསྡུ་མི་བྱ།</p>
        <ul class="list_disc">
            <li>ང་ཚོས་དྲ་རྒྱ་ཡོད་དོ་ཅོག་རང་རང་གིས་བདག་པོ་རྒྱག་ཀིན་ཡོད། དེ་བས་མི་གཞན་པར་བཙོང་མི་སྲིད།</li>
            <li>ང་ཚོས་འཚོལ་བཤེར་ཐོབ་འབྲས་ཀྱི་འཕྲེང་རིམ་ལ་ཐེ་གཏོགས་གང་ཡང་མི་བྱེད།</li>
            <li>ང་ཚོས་དྲ་རྒྱ་ནང་དོན་གང་ཡིན་རུང་མ་སྐྲག་མ་འཛེམ་པར་བཀྲམ་ཡིོད།</li>
            <li>ཁྱེད་ཀྱིས་རང་གི་ས་གནས་དེའི་ཁྲིམས་དང་འགལ་ཡོད་པའི་ནང་དོན་འཚོལ་བཤེར་མ་བྱ་རོགས།</li>
        </ul>
    </div>
</article>
{% endblock %}
